fastapi==0.111.0
uvicorn[standard]==0.30.1

pydantic>=2.11,<3
pydantic-settings>=2.8,<3

sqlalchemy>=2.0.37
pymysql==1.1.1
psycopg2-binary>=2.9

python-dotenv==1.0.1

openapi-schema-pydantic==1.2.4

alembic>=1.14

# Optional but recommended
httpx==0.27.0
bcrypt==4.2.1
PyJWT==2.9.0

# If using ML utilities
numpy>=2.1
pandas>=2.2
pypdf==5.4.0
Pillow>=11.0
pytesseract==0.3.13
